{% extends 'layouts/base_user.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}
    <div id="app">

        <!--This tag store user's email, cannot see by user -->
        <p id="user_email_h" hidden>{{ user_email }}</p>
        <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="My Name:">
                <el-input v-model="form.user_name" style="width: 20%"></el-input>
            </el-form-item>
            <el-form-item label="My Email:">
                <el-input v-model="form.user_email" style="width: 30%"></el-input>
            </el-form-item>
            <el-form-item label="My Phone Number:">
                <el-input v-model="form.user_phone_number" style="width: 20%"></el-input>
            </el-form-item>
            <el-form-item label="My Address:">
                <el-input type="textarea" v-model="form.user_address"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">Update</el-button>
            </el-form-item>
        </el-form>


    </div>



{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

    <script src="/static/assets/js/plugins/chartjs.min.js"></script>
    <script src="/static/assets/js/plugins/Chart.extension.js"></script>
    <script src="/static/assets/js/vue.js"></script>
    <script src="/static/assets/js/axios.min.js"></script>
    <script src="/static/assets/element-ui/lib/index.js"></script>

    <link rel="stylesheet" href="/static/assets/plugins/element-ui/index.css"/>
    <link rel="stylesheet" href="/static/assets/styles/common.css"/>
    <link rel="stylesheet" href="/static/assets/styles/icon/iconfont.css"/>

    <script>
        var ctx = document.getElementById("chart-bars").getContext("2d");

        new Chart(ctx, {
            type: "bar",
            data: {
                labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                    label: "Sales",
                    tension: 0.4,
                    borderWidth: 0,
                    pointRadius: 0,
                    backgroundColor: "#fff",
                    data: [450, 200, 100, 220, 500, 100, 400, 230, 500],
                    maxBarThickness: 6
                },],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    display: false,
                },
                tooltips: {
                    enabled: true,
                    mode: "index",
                    intersect: false,
                },
                scales: {
                    yAxes: [{
                        gridLines: {
                            display: false,
                        },
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: 500,
                            beginAtZero: true,
                            padding: 0,
                            fontSize: 14,
                            lineHeight: 3,
                            fontColor: "#fff",
                            fontStyle: 'normal',
                            fontFamily: "Open Sans",
                        },
                    },],
                    xAxes: [{
                        gridLines: {
                            display: false,
                        },
                        ticks: {
                            display: false,
                            padding: 20,
                        },
                    },],
                },
            },
        });

        var ctx2 = document.getElementById("chart-line").getContext("2d");

        var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

        gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
        gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
        gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

        var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);

        gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
        gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
        gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors


        new Chart(ctx2, {
            type: "line",
            data: {
                labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                    label: "Mobile apps",
                    tension: 0.4,
                    borderWidth: 0,
                    pointRadius: 0,
                    borderColor: "#cb0c9f",
                    borderWidth: 3,
                    backgroundColor: gradientStroke1,
                    data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
                    maxBarThickness: 6

                },
                    {
                        label: "Websites",
                        tension: 0.4,
                        borderWidth: 0,
                        pointRadius: 0,
                        borderColor: "#3A416F",
                        borderWidth: 3,
                        backgroundColor: gradientStroke2,
                        data: [30, 90, 40, 140, 290, 290, 340, 230, 400],
                        maxBarThickness: 6

                    },
                ],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    display: false,
                },
                tooltips: {
                    enabled: true,
                    mode: "index",
                    intersect: false,
                },
                scales: {
                    yAxes: [{
                        gridLines: {
                            borderDash: [2],
                            borderDashOffset: [2],
                            color: '#dee2e6',
                            zeroLineColor: '#dee2e6',
                            zeroLineWidth: 1,
                            zeroLineBorderDash: [2],
                            drawBorder: false,
                        },
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: 500,
                            beginAtZero: true,
                            padding: 10,
                            fontSize: 11,
                            fontColor: '#adb5bd',
                            lineHeight: 3,
                            fontStyle: 'normal',
                            fontFamily: "Open Sans",
                        },
                    },],
                    xAxes: [{
                        gridLines: {
                            zeroLineColor: 'rgba(0,0,0,0)',
                            display: false,
                        },
                        ticks: {
                            padding: 10,
                            fontSize: 11,
                            fontColor: '#adb5bd',
                            lineHeight: 3,
                            fontStyle: 'normal',
                            fontFamily: "Open Sans",
                        },
                    },],
                },
            },
        });
    </script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <script>
        const profileEndPoint = "http://localhost:8000/api/users/info"
        new Vue({
            el: "#app",
            data() {
                return {
                    user_email_h: '',
                    form: {
                        user_name: '',
                        user_email: '',
                        user_address: '',
                        user_phone_number: ''
                    }
                };
            },
            mounted: function () {
                this.onLoad();
            },
            methods: {
                onLoad() {
                    const user_email_h = document.querySelector("#user_email_h").textContent;
                    axios({
                        method: "GET",
                        url: "http://localhost:8000/api/users/info",
                        params: {
                            user_email_h: user_email_h
                        }
                    }).then(value => {
                        this.form = value.data
                        console.log(value.data)
                    })
                },
                async onSubmit() {

                    const res = await axios.put("http://localhost:8000/api/users/info", this.form)
                    this.$alert('Updated Success', 'Update', {
                        confirmButtonText: 'OK',
                        callback: action => {
                            this.$message({
                                type: 'success',
                                message: 'success'
                            });
                        }
                    });
                    console.log(this.form);
                }
            } // end methods
        })// end Vue

    </script>

{% endblock javascripts %}
